name: Publish OCI image

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  KO_DOCKER_REPO: ghcr.io/${{ github.repository }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - uses: ko-build/setup-ko@v0.6

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and publish
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            TAGS="${GITHUB_REF_NAME},sha-${GITHUB_SHA::7}"
          else
            TAGS="latest,sha-${GITHUB_SHA::7}"
          fi

          ko build --platform=all --tags "${TAGS}" .
